{% extends 'master/base.html' %}
{% block title %}Скидки{% endblock %}

{% block active6 %} active {% endblock active6 %}
{% block content %}
{% load static %}
<h1 style="margin-top:-5%;margin-bottom:3%;">Скидки</h1>
<button type="button" class="btn btn-success" style="margin-top:-4%;" onclick="window.location='/apanel/discounts/new_discount/';">Создать новую скидку</button>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Тип</th>
                <th scope="col">Размер скидки</th>
                <th scope="col">Связана с</th>
                <th scope="col">Старт</th>
                <th scope="col">Финиш</th>
            </tr>
        </thead>
        <tbody>
            {% for discount in discounts %}
            <tr>
                <th scope="row">{{ discount.discount_id }}</th>
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.get_discount_type_display }}</td>
                {% if discount.get_discount_type_display == 'Процентная' %}
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.value }}%</td>
                {% else %}
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.value }} ₽</td>
                {% endif %}
                {% if discount.category %}
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.category.name }}</td>
                {% elif discount.subcategory %}
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.subcategory.name }}</td>
                {% else %}
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.product.name }}</td>
                {% endif %}
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.start }}</td>
                <td onclick="window.location='/apanel/discounts/{{ discount.discount_id }}';">{{ discount.end }}</td>
<!--                <td>-->
<!--                {% if discount.end > current_time %}-->
<!--                    <button type="button" class="btn btn-warning stop-discount" data-discount-id="{{ discount.discount_id }}">Остановить</button>-->
<!--                {% endif %}-->
<!--                </td>-->
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!--      <script src="{% static 'JS/discount_stop.js' %}"></script>-->
{% endblock %}
