{% extends 'master/base.html' %}
{% block title %}Скидки{% endblock %}

{% block active6 %} active {% endblock active6 %}
{% block content %}
<h1 style="margin-top:-5%;margin-bottom:3%;" >Скидки</h1>
<button type="button" class="btn btn-success" style="margin-top:-4%;" onclick="window.location='new_discount/';">Создать новую скидку</button>
      <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Тип</th>
                <th scope="col">Размер скидки</th>
                <th scope="col">Связана с </th>
                <th scope="col">Старт</th>
                <th scope="col">Финиш</th>
              </tr>
            </thead>
            <tbody>
            {% for discount in discounts %}
            <tr>
              <th scope="row" >{{ discount.discount_id }}</th>
              <td>{{ discount.get_discount_type_display }}</td>
              {% if discount.get_discount_type_display == 'Процентная' %}
                <td>{{ discount.value }}%</td>
              {% else %}
                <td>{{ discount.value }} ₽</td>
              {% endif %}
              {% if discount.category %}
                <td>{{ discount.category.name }}</td>
              {% elif discount.subcategory %}
                <td>{{ discount.subcategory.name }}</td>
              {% else %}
                <td>{{ discount.product.name }}</td>
              {% endif %}
              <td>{{ discount.start }}</td>
              <td>{{ discount.end }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
      </div>
{% endblock %}