
<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Новый товар дня</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/browse-svgrepo-com.svg' %}">
    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">
    <!-- Custom styles for this template -->
    <link href="{% static 'CSS/checkout.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'CSS/forms.css' %}" rel="stylesheet">


  </head>
  <body class="bg-body-tertiary">
    <div class="container centered-container">
      <main class="form-container">
        <div class="py-3 text-center">
          <img class="d-block mx-auto mb-3" src="{% static 'images/browse-svgrepo-com.svg' %}" alt="" width="80">
          <h2>Добавление товара дня</h2>
        </div>
        <div class="mx-auto">
          <form id="product-form" class="needs-validation" method="post" action="">
            {% csrf_token %}
            {% if form.errors %}
                <div id="errorContainer" class="alert alert-danger" role="alert">
                    <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
                </div>
            {% endif %}
            <div class="col-12">
              <h4 class="mb-3">Товар</h4>
                <div class="input-group has-validation">
                <input class="form-control" disabled placeholder="{{product.name}}">
              </div>
            </div>

            <div class="col-12">
              <h4 class="mb-3">Цена</h4>
                <div class="input-group has-validation">
                <span class="input-group-text">₽</span>
                <input  class="form-control" min="1" name="price" id="price" placeholder="Оригинальная цена на товар: {{product.price}}">
              </div>
            </div>

              <div class="col-12">
              <h4 class="mb-3">Количество товаров</h4>
                <div class="input-group has-validation">
                <input  class="form-control" type="number" min="1" name="ammount" id="ammount">
              </div>
            </div>

          <hr>
          <div class="col-12">
          <h4 class="mb-3">Окончание действия</h4>
              <label for="end_datetime" class="form-label">Окончание скидки:</label>
              <input type="text" id="end_datetime" name="due" class="form-control" >
          </div>

            <hr>
            <button type="submit" class="w-100 btn btn-success btn-lg" id="save-button">Сохранить</button>
            <hr class="my-2">
            <button type="button" class="w-100 btn btn-primary btn-lg" onclick="window.location='/prodict/{{product.product_id}}';">Назад</button>
          </form>
        </div>
      </main>
    </div>

    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ru.js"></script>
    <script src="{% static 'js/datetime_picker.js' %}"></script>
  </body>
</html>
