{% extends 'master/base.html' %}
{% block title %} Товары {% endblock %}
{% block active2 %} active {% endblock active2 %}
{% block content %}
{% load static %}
<h1 style="margin-top:-5%;margin-bottom:3%;">{{ subcategory.name }}</h1>
<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Название</th>
                <th scope="col">Изображение</th>
                <th scope="col">Цена</th>
                <th scope="col">Настройки видимости</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
        <tr id="product-{{ product.subcategory_id }}">
            <th scope="row">{{ product.product_id }}</th>
            <td>{{ product.name }}</td>
            <td><img class="rounded mx-auto d-block" src="{{ product.photo_url }}" style="width: 100px;"></td>
            <td>{{ product.price }} ₽</td>
            <td>
                <button type="button" class="btn {% if product.visibility %}btn-warning{% else %}btn-primary{% endif %}"
                        style="color:{% if product.visibility %}#C7253E{% else %} white {% endif %}">
                    {% if product.visibility %}
                    Убрать из выдачи
                    {% else %}
                        Вернуть в выдачу
                    {% endif %}
                </button>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<script src="{% static 'JS/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
{% endblock %}
