<!doctype html>
<html lang="en" data-bs-theme="auto">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ product.name }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/browse-svgrepo-com.svg' %}">
    <!-- Custom styles for this template -->
    <link href="{% static 'CSS/checkout.css' %}" rel="stylesheet">
    <link href="{% static 'CSS/forms.css' %}" rel="stylesheet">
  </head>
  <body class="bg-body-tertiary">
    <div class="container centered-container">
      <main class="form-container">
        <div class="py-3 text-center">
          <img class="d-block mx-auto mb-3" src="{% static 'images/browse-svgrepo-com.svg' %}" alt="" width="80">
          <h2>{{ product.name }}</h2>
          <p class="lead">Ниже представлена информация по выбранной позиции.<br>
          Нажмите на соответствующую кнопку, чтобы перейти к редактированию.</p>
        </div>
        <div class="mx-auto">
        <form id="product-form" class="needs-validation" method="post" action="{% url 'product_update' product.product_id %}">
            {% csrf_token %}
            {% if form.errors %}
                <div id="errorContainer" class="alert alert-danger" role="alert">
                    <ul>
                {% for field, errors in form.errors.items %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
                </div>
            {% endif %}
            <div class="col-12">
              <label class="form-label"><b>Наименование позиции</b></label>
              <div class="input-group has-validation">
                <span id="name-display">{{ product.name }}</span>
                <input id="name-input" type="text" name="name" class="form-control d-none" placeholder="{{ product.name }}">
              </div>
            </div>
            <hr>

            <div class="col-12">
              <label class="form-label"><b>Изображение</b></label>
              <div class="input-group has-validation">
                <img id="photo-display" src="{{ product.photo_url }}" class="rounded mx-auto d-block" width="72">
                <input id="photo-input" type="text" name="photo_url" class="form-control d-none" placeholder="{{ product.photo_url }}">
              </div>
            </div>
            <hr>

            <div class="col-12">
              <label class="form-label"><b>Описание</b></label>
              <div class="input-group has-validation">
                <span id="description-display">{{ product.description }}</span>
                <textarea id="description-input" name="description" class="form-control d-none" placeholder="{{ product.description }}"></textarea>
              </div>
            </div>
            <hr>

            <div class="row g-3">
              <div class="col-sm-6">
                <label class="form-label"><b>Цена</b></label>
                <div class="input-group has-validation">
                  <span id="price-display">{{ product.price }} ₽</span>
                  <div class="input-group-prepend">
                    <span class="input-group-text d-none" id="basic-addon2">₽</span>
                  </div>
                  <input id="price-input" type="number" name="price" class="form-control d-none" placeholder="{{ product.price }}">
                </div>
              </div>

              <div class="col-sm-6">
                <label class="form-label"><b>Колличество бонусов</b></label>
                <div class="input-group has-validation">
                  <span id="bonus-display">{{ product.bonus }}✡</span>
                  <div class="input-group-prepend">
                    <span class="input-group-text d-none" id="basic-addon3">✡</span>
                  </div>
                  <input id="bonus-input" type="number" name="bonus" class="form-control d-none" placeholder="{{ product.bonus }}">
                </div>
              </div>
            </div>
            <hr>

            <div class="col-12">
              <label class="form-label"><b>Вес</b></label>
              <div class="input-group has-validation">
                <span id="weight-display">{{ product.weight }} КГ</span>
                  <div class="input-group-prepend">
                    <span class="input-group-text d-none" id="basic-addon1">КГ</span>
                  </div>
                <input id="weight-input" step="any" type="number" name="weight" class="form-control d-none" placeholder="{{ product.weight }}">
              </div>
            </div>
            <hr>

            <div class="col-12">
              <label class="form-label"><b>Видимость</b></label>
              <div class="input-group has-validation">
                <span id="visibility-display">{{ product.visibility|yesno:"Отображается на сайте,Не отображается на сайте" }}</span>
                <select id="visibility-input" name="visibility" class="form-select d-none">
                  <option value="True" {% if product.visibility %}selected{% endif %}>Отображается на сайте</option>
                  <option value="False" {% if not product.visibility %}selected{% endif %}>Не отображается на сайте</option>
                </select>
              </div>
            </div>
            <hr class="my-2">

            <button type="button" class="w-100 btn btn-success btn-lg" id="edit-button" onclick="toggleEditMode()">Изменить</button>
            <button type="submit" class="w-100 btn btn-success btn-lg d-none" id="save-button">Сохранить</button>
            <hr class="my-2">
            <button type="button" class="w-100 btn btn-info btn-lg" style="color:white" onclick="window.location='/day_products/{{product.product_id}}';">Добавить в товар дня</button>
            <hr class="my-2">
            <button type="button" class="w-100 btn btn-primary btn-lg" onclick="window.location='/category/{{product.subcategory.category.category_id}}/subcategories/{{product.subcategory.subcategory_id}}';">Назад</button>

          </form>
        </div>
      </main>
    </div>

    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script src="{% static 'JS/checkout.js' %}"></script>
    <script src="{% static 'JS/product_toggle.js' %}"></script>
  </body>
</html>
