{% extends 'master/base.html' %}
{% block title %}Теги{% endblock %}
{% block active9 %} active {% endblock active9 %}
{% block content %}
{% load static %}

<h1 style="margin-top:-5%;margin-bottom:3%;">Теги</h1>
<button type="button" class="btn btn-success" style="margin-top:-4%;" onclick="window.location='/apanel/tags/new_tag';">Создать новый тег</button>

<div class="table-responsive">
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Текст</th>
                <th scope="col">Действия</th>
            </tr>
        </thead>
        <tbody>
        {% for tag in tags %}
            <tr>
                <th scope="row">{{ tag.tag_id }}</th>
                <td>{{ tag.text }}</td>
                <td>
                    <!-- Форма для удаления -->
                    <form method="post" action="{% url 'delete_tag' tag.tag_id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Удалить</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
