<!doctype html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Промокод</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/checkout/">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@docsearch/css@3">
    <link href="{% static 'CSS/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{% static 'images/browse-svgrepo-com.svg' %}">

    <!-- Flatpickr CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <!-- Flatpickr JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">

    <!-- Custom styles for this template -->
    <link href="{% static 'CSS/checkout.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="{% static 'CSS/forms.css' %}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js"></script>

  </head>
  <body class="bg-body-tertiary">
    <div class="container centered-container">
      <main class="form-container">
        <div class="py-3 text-center">
          <img class="d-block mx-auto mb-3" src="{% static 'images/browse-svgrepo-com.svg' %}" alt="" width="80">
          <h2>Промокод: {{ promo.code }}</h2>
        </div>
        <div class="mx-auto">
          <form id="product-form" class="needs-validation" method="post">
            {% csrf_token %}
            <div class="col-12">
              <h4 class="mb-3">Тип промокода</h4>
              <div class="input-group has-validation">
                <span id="name-display">{{ promo.get_type_display }}</span>
              </div>
            </div>
            {% if promo.amount %}
            <hr>
            <div class="col-12">
              <h4 class="mb-3">Размер скидки</h4>
              <div class="input-group has-validation">
                  <span>{{ promo.amount }}₽</span>
              </div>
            </div>
            {% endif %}

            {% if promo.procentage %}
            <hr>
            <div class="col-12">
              <h4 class="mb-3">Размер скидки</h4>
              <div class="input-group has-validation">
                  <span>{{ promo.procentage }}₽</span>
              </div>
            </div>
            {% endif %}
            <hr>
              <div class="col-12">
                <h4 class="mb-3">Одноразовый:{% if promo.one_time %}Да{% else %}Нет{% endif %}</h4>
              </div>

            {% if promo.min_sum %}
              <hr>
              <div class="col-12">
                <h4 class="mb-3">Минимальная сумма</h4>
                <div class="input-group has-validation">
                  <span>{{ promo.min_sum }}₽</span>
                </div>
              </div>
            {% endif %}

            <hr>
            <div class="row g-3">
              <h4 class="mb-3">Начало и окончание скидки</h4>
              <div class="col-sm-6">
                <label>Начало скидки: {{ promo.start }}</label>
              </div>
              <div class="col-sm-6">
                <label>Окончание скидки: {{ promo.end }}</label>
              </div>
            </div>

            {% if promo.promo_product %}
            <hr>
            <div class="row g-3">
              <h4 class="mb-3">К чему применить скидку?</h4>
                <div class="input-group has-validation">
                  <span>Позиция: {{ promo.promo_product.name }}</span>
                </div>
            </div>
              {% endif %}

            {% if promo.description %}
            <hr>
            <div class="row g-3">
              <h4 class="mb-3">Описание</h4>
              <span>{{ promo.description }}</span>
            </div>
            {% endif %}
            <hr>
            <button class="w-100 btn btn-danger btn-lg" type="submit">Удалить</button>
            <hr class="my-2">
            <button type="button" class="w-100 btn btn-primary btn-lg" onclick="window.location='/apanel/promocods';">Назад</button>
          </form>
        </div>
      </main>
    </div>

    <script src="{% static 'JS/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@docsearch/js@3"></script>
    <script src="{% static 'JS/delete_discount.js' %}"></script>
  </body>
</html>
